<% if @response.success? %>
  <% if @response.try(:data).try(:"present?") %>
    $('#results').html("<h3 class='text-center'>We found something...</h3><%= j render partial: 'channels', locals: {streams: @streams} %>");
  <% else %>
    $('#results').html("<div class='text-center mt-4'>No results found...</div>");
  <% end %>
<%else%>  
  $('#results').html("<div class='text-center mt-4 text-warning'>Service is not available at this moment, please try after some time.</div>");
<%end%>

$("#loading-results").hide();
