<h2>History</h2>

<%@versions.each do |version|%> 
  <div class="card">
    <div class="card-header">
      <b>Search Query</b>: <%= version.query%>
      <div class="float-right"><%= version.updated_at.strftime("%d %b %Y at %I:%M%p") %></div>
    </div>
    <div class="card-body">
      <p class="card-text">Results.</p>
      <%= render partial: 'twitchers/channels', locals: {streams: version.results} %>
    </div>
  </div>
  
<%end%>